body {
  margin: 0;
  padding: 0;
  font-family: "Annie Use Your Telescope", cursive;
  font-family: "Encode Sans", sans-serif;
  position: relative;
}

ul, li, a, h1, h2, h3, p {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

/*******************VARIABLES****************/
/***************HEADER********************/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
  background-color: #ffffff;
}
.navbar .logo {
  width: 100%;
  text-transform: uppercase;
  color: #4b4b4b;
  font-weight: bold;
}
.navbar .menu ul li {
  padding: 0px 20px;
}
.navbar .menu ul li a {
  color: #4b4b4b;
  transition: 0.3s;
}
.navbar .menu ul li a:hover {
  color: #febe8c;
}
.btn-carrito {
  border: none;
  background: none;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn-carrito img {
  width: 100%;
  height: 100%;
}
.carro-compra.activo {
  display: block;
}
.carro-compra {
  position: absolute;
  z-index: 6;
  top: 64px;
  right: 0;
  background: #ffffff;
  width: 24%;
  box-shadow: 0px 17px 37px rgba(0,0,0,0.3);
  padding: 15px;
  display: none;
}
.carro-compra .wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card-carrito {
  display: grid;
  grid-template-columns: 150px auto;
  grid-gap: 14px;
  border-bottom: 1px solid #febe8c;
  padding-bottom: 12px;
}
.card-carrito .imagen {
  width: 150px;
  height: 150px;
}
.card-carrito .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-carrito .btn-precio {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #febe8c;
  width: fit-content;
  border-radius: 5px;
  overflow: hidden;
}
.card-carrito .btn-precio  .cantidad {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-carrito .btn-precio button {
  border: 0px;
  width: 30px;
  height: 30px;
}
.wrapper-subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.btn-vaciar,
.btn-realizar-pedido {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  border: 2px solid #febe8c;
  color: #febe8c;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  padding: 10px 0px;
  transition: background-color 0.3s color 0.3s;
}
.btn-vaciar:hover,
.btn-realizar-pedido:hover {
  background-color: #febe8c;
  color: #ffffff;
}
/**********************CARRUSEL*************************/
.carrusel {
  width: 100%;
  max-height: 600px;
}
.carrusel .carousel-item {
  max-height: 600px;
  height: 100%;
}
.carrusel .carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*******************SUBMENU*****************************/
.sub-menu {
  display: flex;
  justify-content: space-evenly;
  max-width: 1360px;
  width: 100%;
  margin: 140px auto 120px;
}
.sub-menu a {
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: scale 0.3s;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.2);
}
.sub-menu a:hover {
  scale: 1.1;
}
.sub-menu a .texto {
  position: absolute;
  text-transform: uppercase;
  font-size: 24px;
  z-index: 3;
  color: black;
  font-weight: bold;
  padding: 20px;
  border: 2px solid black;
  width: 70%;
  text-align: center;
}
.sub-menu a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  z-index: 2;
}

/******************DESTACADOS*************************/
.destacados {
  max-width: 850px;
  width: 100%;
  margin: auto;
}
.destacados h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 35px;
  padding-bottom: 50px;
  color: #4b4b4b;
}
.destacados .destacados-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 500px;
  width: 100%;
}
.destacados .destacados-container a {
  height: 250px;
  width: 100%;
  display: block;
}
.destacados .destacados-container a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*********************FORMULARIO***********************/
.informacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  width: 100%;
  margin: 64px auto 160px;
}
.informacion h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
  color: #4b4b4b;
}
.informacion .redes-sociales li {
  font-size: 16px;
  color: #4b4b4b;
  margin: 10px 0px;
}
.informacion .redes-sociales li a {
  display: flex;
  align-content: center;
  color: #4b4b4b;
  transition: color 0.3s;
}
.informacion .redes-sociales li a:hover {
  color: #febe8c;
}
.informacion .redes-sociales li img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  opacity: 0.7;
  object-fit: initial;
}
.informacion form {
  display: flex;
  flex-direction: column;
  width: 340px;
}
.informacion form label {
  color: #4b4b4b;
}
.informacion form input {
  height: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.informacion form button {
  width: 105px;
  padding: 8px 0px;
  border-radius: 6px;
  border: 2px solid #febe8c;
  background: #ffffff;
  text-transform: uppercase;
  margin-top: 24px;
  color: #febe8c;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.3s;
}
.informacion form button:hover {
  background-color: #febe8c;
  color: #ffffff;
}
.informacion form button:disabled {
  background-color: #e0e0e0;
  color: #6e6e6e;
  border-color: #e0e0e0;
}
.mensajeContacto  {
  padding: 20px 0px;
}

/****************FOOTER*******************/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
}
footer hr {
  height: 1px;
  background: #a3a3a3;
  border: 0px;
}
footer p {
  font-size: 12px;
  padding: 30px 5px;
  color: #febe8c;
}
footer img {
  width: 14px;
  height: 14px;
  filter: contrast(0.5) brightness(100);
}

/******************TIENDA*************************/
.tienda-imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 800px;
}
.tienda-imagenes a:nth-child(1) {
  grid-row: 1/-1;
  height: 800px;
}
.tienda-imagenes a:nth-child(2) {
  grid-row: 1;
  height: 400px;
}
.tienda-imagenes a:nth-child(3) {
  grid-row: 2;
  height: 400px;
}
.tienda-imagenes a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titulo {
  text-align: center;
  margin: 50px auto 72px;
}
.titulo h1 {
  text-transform: uppercase;
  font-size: 40px;
  color: #febe8c;
}
.titulo h1::after {
  content: "";
  display: block;
  width: 5%;
  height: 2px;
  border: 0px;
  background: #febe8c;
  margin: 5px auto 22px;
}
.titulo p {
  font-size: 18px;
  color: #4b4b4b;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 20px;
}

.tarjeta {
  max-width: 340px;
  width: 100%;
  height: 100%;
}
.tarjeta .imagen {
  width: 100%;
  height: 250px;
}
.tarjeta .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tarjeta .info {
  padding: 14px 0px;
  color: #4b4b4b;
}
.tarjeta .info h3 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 18px;
}
.tarjeta .info .precio {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 8px;
}
.tarjeta .info .precio::before {
  content: '$';
}
.tarjeta .info .carrito {
  background: #ffffff;
  padding: 5px 12px;
  border: 2px solid #febe8c;
  border-radius: 5px;
  color: #4b4b4b;
  font-size: 14px;
  transition: 0.3s;
}
.tarjeta .info .carrito:hover {
  background-color: #febe8c;
  color: #ffffff;
}

.tienda-ver-mas {
  max-width: 1360px;
  width: 100%;
  margin: 120px auto 200px;
}
.tienda-ver-mas h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #4b4b4b;
  margin-bottom: 54px;
  text-align: center;
}

/****************************PATRONES******************************/
.patrones {
  max-width: 1360px;
  width: 100%;
  margin: 60px auto;
}
.patrones h2 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #4b4b4b;
  border-bottom: 1px solid #febe8c;
  padding-bottom: 5px;
}

.patrones-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 20px;
  padding-top: 35px;
}

/****************************HILADOS********************************************/
.hilados-submenu {
  max-width: 1360px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.hilados-submenu .btn.btn-outline-primary {
  color: #4b4b4b;
  border: #4b4b4b 1px solid;
}
.hilados-submenu .btn.btn-outline-primary:hover {
  border-color: #febe8c;
  background: #febe8c;
}

.hilados {
  max-width: 1360px;
  width: 100%;
  margin: 50px auto 50px;
}
.hilados h2 {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #4b4b4b;
  border-bottom: 1px solid #febe8c;
  padding-bottom: 5px;
}
.hilados .hilados-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px 20px;
  padding-top: 35px;
}
.hilados .hilados-container p {
  font-size: 12px;
  color: #4b4b4b;
}
.hilados .hilados-container h3 {
  padding-bottom: 5px;
}
.hilados .hilados-container .colores {
  display: flex;
  margin: 20px 0px 5px;
}
.hilados .hilados-container .colores .color {
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 100%;
  border: 1px solid #4b4b4b;
  margin: 0px 2px;
}
.hilados .hilados-container .colores li:nth-child(1) .color {
  background: rgb(242, 130, 130);
}
.hilados .hilados-container .colores li:nth-child(2) .color {
  background: rgb(146, 146, 227);
}
.hilados .hilados-container .colores li:nth-child(3) .color {
  background: black;
}
.hilados .hilados-container .colores li:nth-child(4) .color {
  background: rgb(137, 234, 137);
}

/****************CONOCEME*****************/
.conoceme-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
  max-width: 1300px;
  margin: 0px auto 200px;
}
.conoceme-container .imagen {
  height: 600px;
}
.conoceme-container .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.conoceme-container .texto {
  padding-top: 10px;
}
.conoceme-container .texto span {
  font-size: 30px;
  font-weight: bold;
  color: #febe8c;
}
.conoceme-container .texto p {
  font-size: 18px;
  color: #4b4b4b;
  padding: 10px 0px;
  line-height: 24px;
}

/*******************MEDIA QUERIES*****************************
/*******************TABLET**********************/
@media (min-width: 760px) and (max-width: 1100px) {
  .navbar .logo {
    width: fit-content;
  }
  .sub-menu a {
    width: 250px;
    height: 200px;
  }
  .informacion {
    padding: 0px 20px;
  }
  .patrones,
  .hilados {
    width: 95%;
  }
}
/******************MOBILE*****************/
@media (max-width: 760px) {
  .navbar {
    padding: 10px 0px;
  }
  .navbar .logo {
    width: fit-content;
  }
  .sub-menu {
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 70px auto 84px;
  }
  .sub-menu a {
    margin: 10px 0px;
  }
  .sub-menu a .texto {
    font-size: 16px;
    padding: 14px;
  }
  .destacados h2 {
    font-size: 26px;
    padding-bottom: 40px;
  }
  .destacados .destacados-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 100%;
    width: 90%;
    margin: auto;
  }
  .informacion {
    grid-template-columns: auto;
    width: 90%;
    grid-gap: 60px;
    margin: 64px auto 100px;
  }
  .informacion h3 {
    font-size: 20px;
    margin-bottom: 22px;
  }
  .informacion form {
    width: 100%;
  }
  .tienda-destacados {
    margin-top: 20px;
  }
  .titulo {
    margin-bottom: 46px;
  }
  .titulo h1 {
    font-size: 34px;
  }
  .titulo h1:after {
    width: 20%;
    margin: 5px auto 16px;
  }
  .titulo p {
    font-size: 14px;
  }
  .tienda-imagenes {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    height: 100%;
    overflow: hidden;
  }
  .tienda-imagenes a {
    max-height: 250px;
    height: 100%;
  }
  .tienda-imagenes a:nth-child(1) {
    grid-row: 1;
  }
  .tienda-imagenes a:nth-child(2) {
    grid-row: 2;
  }
  .tienda-imagenes a:nth-child(3) {
    grid-row: 3;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 20px;
  }
  .tienda-ver-mas {
    margin: 80px auto 58px;
  }
  .tienda-ver-mas h2 {
    font-size: 26px;
    margin-bottom: 40px;
  }
  .tarjeta .info {
    padding: 10px 0px;
  }
  .tarjeta .info h3 {
    font-size: 16px;
    padding-bottom: 14px;
  }
  .tarjeta .info .precio {
    font-size: 12px;
    padding-bottom: 8px;
  }
  .patrones,
  .hilados,
  .conoceme-container {
    width: 90%;
  }
  .patrones h2,
  .hilados h2 {
    font-size: 25px;
  }
  .patrones hr {
    margin: 5px 0px 25px;
  }
  .patrones-container,
  .hilados .hilados-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 20px;
  }
  .hilados-submenu {
    overflow: scroll;
    padding: 0px 10px;
  }
  .conoceme-container {
    grid-template-columns: auto;
    grid-gap: 30px;
    margin: 0px auto 100px;
  }
  .conoceme-container .imagen {
    height: 0px;
    position: relative;
    padding-top: 56.2%;
  }
  .conoceme-container .imagen img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    position: absolute;
    top: 0;
  }
  .conoceme-container .texto {
    padding-top: 0px;
  }
  .conoceme-container .texto p {
    font-size: 14px;
    line-height: 19px;
  }
}

/*animacion*/
.animate__backInLeft,
.animate__backInRight {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}